<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatABC</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <style>
    body {margin-top: 100px;}
    .brief-description {font-style: italic; color:darkgray; font-size: smaller;}  
  </style>
  <body>
    <div class="container mt-6">
      <h1>TrydoDict</h1>
      <p class="brief-description">
        <em>a demo app from <a href='https://github.com/thassung/TrydoDict/tree/main'>github repo</a></em>
      </p>
      <form id="inputForm">
        <div class="form-group">
          <label for="input">Input</label>
          <input type="text" class="form-control" id="input" name="input" placeholder="Initiate with your input"/>
        </div>
        <button type="button" class="btn btn-primary" id="submitBtn">
          Submit
        </button>
      </form>
      <div id="result" class="mt-3 h3"></div>
    </div>

    <!-- updating slider value shown -->
    <script>
      function updateSeriousness() {
          var sliderValue = document.getElementById("seriousness").value;
          document.getElementById("seriousnessDisplay").innerText = "Selected Seriousness: " + sliderValue;
      }

      function updateSeed() {
          var sliderValue = document.getElementById("seed").value;
          document.getElementById("seedDisplay").innerText = "Selected Seed: " + sliderValue;
      }
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#submitBtn').click(function () {
          event.preventDefault();
          var inputData = {
            input: $('#input').val(),
            temperature: $('#seriousness').val(),
            seed: $('#seed').val() 
          };

          $('#result').text('Thinking. Please wait...');

          $.ajax({
            type: 'POST',
            url: '/translate',
            data: JSON.stringify(inputData),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (response) {
              let message = response['translated'];
              $('#result').text(message);
            },
          });
        });
      });
    </script>
  </body>
</html>
